repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 11a2fdbab88e927af4d64e28a238df0f3b8693d1
    hooks:
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
        exclude: |
            (?x)( # make whitespace in this regex insignificant and allow comments
                ^README.md|           # I use double-space line-endings a lot in my MD.
                resources/answers.py # MD also used in answers.
            )

- repo: https://github.com/patricknraanes/nbhooks.git
  rev: 1.3.0  # Use `pre-commit autoupdate --bleeding-edge` to set to most recent version
  hooks:
  - id: nb-ensure-clean
    args: [--meta, pin_output]  # Optional WHITELIST of metadata keys (you can use regex)
