# While less comprehensive than the output of `pip freeze`
# (and therefore less prone to not reproduce outcomes exactly)
# it is easier to maintain (since it lists only direct requirements
# and libraries that had to be pinned) and yields faster startup
# on Colab.
DA-DAPPER==0.9.6
jupyter==1.0.0
Markdown==3.1.1
# https://github.com/ipython-contrib/jupyter_contrib_nbextensions/issues/1529#issuecomment-726995518
nbconvert<6
# Newer matplotlib is slightly incompatible (tested in T1 and T2)
matplotlib<3.3
# Dev tools:
pre-commit
