# DAPPER is maintained for compatibility with Colab
# and its deps https://github.com/nansencenter/DAPPER/issues/41#issuecomment-1381616971)
# include most of the packages needed for the tutorial.
dapper==1.5.1
# -e ${HOME}/P/DAPPER

jupyter
Markdown==3.1
pre-commit
